@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin buttonTypography {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.5rem;
}

@mixin buttonSize {
  height: 4.5rem;
  border-radius: 1.5rem;
}
