// variables for dark theme

$dark-background: #17171c;
$dark-button-low-emphasis: #2e2f38;
$dark-button-medium-emphasis: #4e505f;
$dark-button-high-emphasis: #4b5efc;
$dark-text: #fff;

// variables for light theme

$light-background: #f1f2f3;
$light-button-low-emphasis: #fff;
$light-button-medium-emphasis: #d2d3da;
$light-button-high-emphasis: #4b5efc;
$light-text: #000;

// other

$font-stack: "Work Sans", sans-serif;
