// variables for dark theme

$dark-background: #17171c;
$dark-button-low-emphasis: #2e2f38;
$dark-button-medium-emphasis: #4e505f;
$dark-button-high-emphasis: #4b5efc;
$dark-text: #fff;

// other

$font-stack: "Work Sans", sans-serif;
